.head__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.head__top .developer__me{
    font-family: 'Raleway';
    font-style: 16px;

    align-items: center;
    vertical-align: middle;

    border: 2px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    height: 31px;
}
.head__top .button{
    align-items: center;
}
.head__top .button .button__links{
    font-family: 'Raleway';
    font-style: normal;

    border: 0px;
    background-color: white;
}
.head__top .programmer__icon__background__1{
    background-color: #F1F1F1;
    border-radius: 1000px;
    height: 170px; 
    width: 170px;

}
.head__top .programmer__icon__background__1 .programmer__icon__1{
    height: 110px; 
    width: 110px;
}

.chat__icon__background__1{
    background-color: #F1F1F1;
    border-radius: 1000px;
    height: 64px; 
    width: 64px;

}
.chat__icon__background__1 .chat__icon__1{
    height: 24px; 
    width: 24px;
}

.lightning__icon__background__1{
    background-color: #F1F1F1;
    border-radius: 1000px;
    height: 100px; 
    width: 100px;

}
.lightning__icon__background__1 .lightning__icon__1{
    height: 40px; 
    width: 40px;
}

.top__text__headling{
    width: 804px;
    height: 128px;

    align-items: center;

    font-size: 64px;
    font-weight: bold;
    font-family: 'Raleway';

    letter-spacing: -0.02em;
}
.top__text__body{
    align-items: center;

    width: 484px;
    height: 48px;

    font-size: 16px;
    font-family: 'Raleway';
}

.top__connect{
    width: 452px;
    height: 56px;
}
.top__connect .button__connect{
    width: 215px;
    height: 56px;

    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    
    font-size: 16px;
    color: #FFFFFF;

    background: #181818;
    border-radius: 8px;
    
    
}
.top__connect .video__link{
    width: 221px;
    height: 56px;

    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;

    font-size: 16px;

    border: 2px solid #181818;
    background: white;
    border-radius: 8px; 
}

.top__works{
    text-align: center;
    width: 473px;
    height: 32px;
}
.top__works .website__all{
    padding: 4px 16px;
    gap: 8px;
    
    width: 62px;
    height: 32px;

    font-size: 16px;
    color: white;
    
    background: #181818;
    border-radius: 10000px;
}
.top__works .website{
    padding: 4px 16px;
    gap: 8px;
    
    width: auto;
    height: 32px;

    font-size: 16px;
    
    border: 1px solid #000000;
    border-radius: 10000px;
}

.trophy__icon__background__1{
    background-color: #F1F1F1;
    border-radius: 1000px;
    height: 100px; 
    width: 100px;

}
.trophy__icon__background__1 .trophy__icon__1{
    height: 40px; 
    width: 40px;
}
.my__photo{
    width: 400px;
    height: 560px;

    border-radius: 24px;
}


.about__me__headling{
    width: 478px;
    height: 64px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 64px;
    
    line-height: 64px;
    letter-spacing: -0.02em;
}
.about__me__body{
    width: 484px;
    height: 96px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.my__statistic__headling{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.my__statistic__body{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.sevises{
    background-color: black;
}
.sevises .servises_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: white;
}
.sevises .sevises__type{
    background-color: white;
}
.sevises .sevises__type .servises__number{
    width: 288px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    
    color: #242424;
}
.sevises .sevises__type .servises__headling{
    width: 288px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}
.sevises .sevises__type .servises__body{
    width: 288px;
    height: 96px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}
.sevises .sevises__type .servises__cost{
    width: 288px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    color: #181818;
}

.cost__headling{
    width: 446px;
    height: 64px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    
    line-height: 64px;

    letter-spacing: -0.02em;
}
.stopwatch__icon__background__1{
    background-color: #F1F1F1;
    border-radius: 1000px;
    height: 100px; 
    width: 100px;

}
.stopwatch__icon__background__1 .stopwatch__icon__1{
    height: 40px; 
    width: 40px;
}

.avarage__cost__work{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;

    width: 448px;
    height: 368px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.avarage__cost__work .type__work{
    width: 400px;
    height: 48px;

    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 8px;
}
.avarage__cost__work .amount__work{
    width: 400px;
    height: 48px;
    
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 8px;
}

.question{
    background-color: black;
    color: white;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    
    line-height: 64px;

    letter-spacing: -0.02em;
}
.question .before__question__s{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0px;
    gap: 16px;
}
.question .before__question__s .question__s{
    background-color: white;
    color: black;

    width: 1160px;

    border: 1px solid #CCCCCC;
    border-radius: 16px;

    align-items: center;

    padding: 32px 40px;
    gap: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    
    line-height: 24px;
}
.question .before__question__s .question__s .summary{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    line-height: 24px;
}

.icon__near__connect__background{
    width: 24px;
    height: 24px;
    
    border: 1px;
    border-radius: 8px;

    background-color: #F9F9F9;
}
.icon__near__connect__background .icon__near__connect{
    width: 16px;
    height: 16px;
}